* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.main {
  height: 100vh;
  width: 100%;
  background: radial-gradient(#0e294b, #111b27);
  position: relative;
  display: flex;
  justify-content: center; }
  .main__content {
    position: relative;
    background: radial-gradient(#fafdff, #d6d8da);
    box-shadow: rgba(0, 0, 0, 0.6) 0 1rem 2rem;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 82vw;
    text-align: center; }

.arrow__holder {
  position: absolute;
  left: 2rem; }

.arrow__link {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: radial-gradient(#fafdff, #d6d8da);
  color: transparent;
  color: #eee;
  text-decoration: none;
  font-size: 6rem; }

.diagram-holder {
  position: relative;
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto; }

.sidebar {
  flex-basis: 25%;
  background: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto; }
  .sidebar__exercise {
    text-transform: uppercase;
    background-color: #272626;
    margin-top: 2rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: #eee;
    border: 4px solid currentColor;
    width: 80%;
    height: 20%; }
  .sidebar__exercise:hover, .sidebar__exercise.active {
    background-color: #202020;
    color: #059705;
    cursor: pointer; }

#venn {
  font-size: 3em; }

#set-values {
  font-size: 2rem;
  height: 2rem; }

.tutor {
  display: flex;
  flex-direction: row;
  padding: 3rem; }
  .tutor__console {
    flex-basis: 80%;
    height: 20rem;
    flex-direction: column;
    display: flex;
    border: 1px solid #bebebe; }
  .tutor__console--label {
    min-height: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #98ce2d;
    font-size: 2rem;
    padding-left: 1rem; }
  .tutor__console--messages {
    background-color: #d1d0d0;
    width: 100%;
    flex-basis: 80%;
    font-size: 1.6rem;
    text-align: start;
    padding: 1rem;
    overflow-y: auto; }
  .tutor__console--input {
    font-size: 1.6rem;
    padding: .2rem .4rem;
    width: 100%;
    border: 1px solid #bebebe; }
  .tutor__console--input:focus {
    outline: none; }
  .tutor__btn-holder {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }

.button--send, .button--hint {
  flex-basis: 30%;
  width: 80%;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0.2rem 0.5rem;
  color: #1a1919; }

.button--send:hover, .button--hint:hover {
  cursor: pointer; }

.button--send {
  background: radial-gradient(#15ff00, #22d30b); }

.button--hint {
  background: radial-gradient(yellow, #d3d30b); }

button:focus {
  outline: none; }

#holder {
  position: relative; }

.exercise-statment {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 3rem;
  top: 2rem;
  left: 2rem; }

.invisible {
  opacity: 0; }

.green-message {
  color: #0f6e0f;
  font-size: 2rem; }

.red-message {
  color: #cf1818;
  font-size: 2rem; }

.blue-message {
  color: #0b61b1;
  font-size: 2rem; }

.btn-openModal {
  font-size: 2rem;
  padding: .3rem 0 .3rem 0;
  border: none;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.1rem 1rem;
  transition: all .3s; }

.btn-openModal:hover {
  background-color: #fff;
  cursor: pointer; }

.btn-openModal:focus {
  outline: none; }

.btn-closeModal {
  transform: rotate(-90deg);
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: #eee; }

.btn-closeModal:hover {
  cursor: pointer; }

.btn-closeModal:focus {
  outline: none; }

.modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  padding: 4rem 12rem 2rem 6rem;
  border-radius: 5px;
  background: radial-gradient(#578fa1, #2b4344);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.8) 0 2rem 4rem;
  position: absolute;
  z-index: 1000; }

.modal__group {
  display: block;
  align-self: flex-start; }

.modal__group:nth-child(4) {
  margin-bottom: 3rem !important; }

.modal__group {
  margin-bottom: 1rem; }

.modal__group > label {
  font-size: 1.8rem;
  margin-right: 1rem; }

.modal__group > textarea {
  width: 40rem;
  height: 10rem; }

.modal__group input, textarea {
  border: none;
  font-size: 1.6rem;
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.2rem 2rem;
  border-radius: 5px;
  transition: all .2s; }

input:focus,
textarea:focus {
  background-color: #e9e8e8;
  outline: none; }

textarea {
  resize: none; }

#btn-addExecises {
  align-self: flex-end;
  margin-top: 1.5rem;
  margin-right: -2rem;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0.2rem 2rem;
  background: radial-gradient(#f3f3f3, #b9bbb8);
  color: #000;
  font-weight: 700;
  border: none;
  border-radius: 3px; }

#btn-addExecises:hover {
  cursor: pointer; }
